<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="RiPMEngine.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="RiPMEngine.My.MySettings.CEPMMeasurementMasterConnectionString" connectionString="Max Database Size=4090;Data Source=|DataDirectory|\Data\PMMeasurement_Master.pmx"/>
  <add name="RiPMEngine.My.MySettings.CEPMMeasurementConnectionString" connectionString="Max Database Size=4090;Data Source=|DataDirectory|\Data\PMMeasurement_Master.pmx" providerName="Microsoft.SqlServerCe.Client.3.5"/>
  <add name="RiPMEngine.My.MySettings.PMMeasurement_MasterConnectionString" connectionString="page size=4096;cache size=10000;synchronous=Off;foreign keys=True;journal mode=Off;data source=|DataDirectory|\Data\PMMeasurement_Master.pmxl" providerName="System.Data.SQLite"/>
  <add name="RiPMEngine.My.MySettings.CERiCalibrationConnectionString" connectionString="Max Database Size=4090;Data Source=|DataDirectory|\Data\Calibrations\RiCalibration.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
  <add name="RiPMEngine.My.MySettings.PMCalibration_MasterConnectionString" connectionString="Max Database Size=4090;Data Source=|DataDirectory|\Data\PMCalibration_Master.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
 </connectionStrings>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<userSettings>
		<RiPMEngine.My.MySettings>
   <setting name="UserCalibrationConnectionString" serializeAs="String">
    <value/>
   </setting>
   <setting name="ExportLabelsPrefix" serializeAs="String">
    <value/>
   </setting>
   <setting name="SoftwareCapableLens" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LensSetID" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BitmapVDSize" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="PointsInitialized" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UL1ImgLocX" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UL1ImgLocY" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UR1ImgLocX" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UR1ImgLocY" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LL1ImgLocX" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LL1ImgLocY" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LR1ImgLocX" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LR1ImgLocY" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ClipToPolygon" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EffectiveFocalLengthMm" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UL1xUser" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UL1yUser" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UL1zUser" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UR1xUser" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UR1yUser" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UR1zUser" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LL1xUser" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LL1yUser" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LL1zUser" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LR1xUser" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LR1yUser" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LR1zUser" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CameraUserLocX" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CameraUserLocY" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CameraUserLocZ" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FixationUserLocX" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FixationUserLocY" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FixationUserLocZ" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="KeyStoneCCD" serializeAs="String">
    <value/>
   </setting>
   <setting name="KeyStoneLens" serializeAs="String">
    <value/>
   </setting>
  </RiPMEngine.My.MySettings>
	</userSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
