<?xml version="1.0"?>
<configuration>
	<configSections>
	<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
	 <section name="RadiantCommon.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
	</sectionGroup>
 </configSections>
	<connectionStrings>
  <add name="RadiantCommon.My.MySettings.dbSettingsConnectionString" connectionString="Data Source=|DataDirectory|\ISSystem.mdb" providerName="System.Data.OleDb"/>
  <add name="RadiantCommon.My.MySettings.CERiPointsConnectionString" connectionString="Max Database Size=4090;Data Source=|DataDirectory|\PointsofInterest\Data\RiPoints_Master.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
  <add name="RadiantCommon.My.MySettings.CEUserColorLevelsConnectionString" connectionString="Max Database Size=4090;Data Source=|DataDirectory|\UserDefinitions\UserDefinitions_Master.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
  <add name="RadiantCommon.My.MySettings.CEUserMaintenanceConnectionString" connectionString="Max Database Size=4090;Data Source=|DataDirectory|\UserMaintenance\UserMaintenance_Master.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
  <add name="RadiantCommon.My.MySettings.CERiPointsMasterConnectionString" connectionString="Max Database Size=4090;Data Source=|DataDirectory|\PointsofInterest\Data\RiPoints_Master.sdf"/>
 </connectionStrings>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
 <userSettings>
	<RadiantCommon.My.MySettings>
  <setting name="ColorFilterExposure" serializeAs="Xml">
   <value>
    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
     <string>100</string>
     <string>100</string>
     <string>100</string>
     <string>100</string>
     <string>100</string>
     <string>100</string>
    </ArrayOfString>
   </value>
  </setting>
  <setting name="ColorFilterND" serializeAs="Xml">
   <value>
    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
     <string>1</string>
     <string>1</string>
     <string>1</string>
     <string>1</string>
     <string>1</string>
     <string>1</string>
    </ArrayOfString>
   </value>
  </setting>
  <setting name="ColorFilterAdjust" serializeAs="Xml">
   <value>
    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
     <string>True</string>
     <string>True</string>
     <string>True</string>
     <string>True</string>
     <string>True</string>
     <string>True</string>
    </ArrayOfString>
   </value>
  </setting>
  <setting name="ExcelColumn" serializeAs="String">
   <value>1</value>
  </setting>
  <setting name="ExcelRow" serializeAs="String">
   <value>1</value>
  </setting>
  <setting name="ExcelOptions" serializeAs="String">
   <value>11111111111</value>
  </setting>
  <setting name="NewUserDefintionsConnectionString" serializeAs="String">
   <value/>
  </setting>
  <setting name="NewRiPointsConnectionString" serializeAs="String">
   <value/>
  </setting>
  <setting name="NewUserMaintenanceConnectionString" serializeAs="String">
   <value/>
  </setting>
  <setting name="EvaluationTypeDialogLocation" serializeAs="String">
   <value>100, 100</value>
  </setting>
  <setting name="EvaluationTypeDialogSize" serializeAs="String">
   <value>670, 690</value>
  </setting>
  <setting name="IsoPlot2dCompleteListExport" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="CurrentPOIDB" serializeAs="String">
   <value/>
  </setting>
  <setting name="ZhagaGroupCount" serializeAs="String">
   <value>0</value>
  </setting>
  <setting name="ZhagaPOICount" serializeAs="String">
   <value>0</value>
  </setting>
  <setting name="HumanGradeFile" serializeAs="String">
   <value/>
  </setting>
  <setting name="CSVFilePath" serializeAs="String">
   <value/>
  </setting>
  <setting name="AutoPOIMinimumUseAbsolute" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="AutoPOIMinimumUsePercent" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="AutoPOIMinimumThresholdPercent" serializeAs="String">
   <value>70</value>
  </setting>
  <setting name="AutoPOIGroupBlobs" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="AutoPOIMinimumThresholdAbsolute" serializeAs="String">
   <value>0</value>
  </setting>
  <setting name="AutoPOIDrawPoly" serializeAs="String">
   <value>True</value>
  </setting>
  <setting name="AutoPOIDrawRect" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="AutoPOIMaximumUseAbsolute" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="AutoPOIMaximumUsePercent" serializeAs="String">
   <value>True</value>
  </setting>
  <setting name="AutoPOIMaximumThresholdAbsolute" serializeAs="String">
   <value>1</value>
  </setting>
  <setting name="AutoPOIMaximumThresholdPercent" serializeAs="String">
   <value>100</value>
  </setting>
  <setting name="AutoPOIUseMaximumThreshold" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="AutoPOIXMLString" serializeAs="String">
   <value/>
  </setting>
  <setting name="EnableDependencyColumns" serializeAs="String">
   <value>True</value>
  </setting>
  <setting name="FillROI" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="TrackIndexFillROI" serializeAs="String">
   <value>15</value>
  </setting>
  <setting name="TrackValueFillROI" serializeAs="String">
   <value>0</value>
  </setting>
  <setting name="TrackVisibleFillROI" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="TrackBarLabelFillROI" serializeAs="String">
   <value>False</value>
  </setting>
  <setting name="AutoPOIDrawToolDBID" serializeAs="String">
   <value>0</value>
  </setting>
  <setting name="EditRegionFormLocation" serializeAs="String">
   <value>0, 0</value>
  </setting>
  <setting name="CurrentCrossSectionDB" serializeAs="String">
   <value/>
  </setting>
  <setting name="MoireSmoothFilterSize" serializeAs="String">
   <value>-4, 4</value>
  </setting>
  <setting name="CrossSectionSaveOnClose" serializeAs="String">
   <value>False</value>
  </setting>
 </RadiantCommon.My.MySettings>
 </userSettings>
</configuration>
