<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="RadiantVisionSystems.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
	<connectionStrings>
  <add name="RadiantVisionSystems.My.MySettings.CECameraMaintenanceConnectionString" connectionString="Max Database Size=4090;Data Source=|DataDirectory|\Camera\Data\CameraMaintenance_Master.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
  <add name="RadiantVisionSystems.My.MySettings.CEPMCameraConnectionString" connectionString="Max Database Size=4090;Data Source=|DataDirectory|\Camera\Data\PMCamera.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
  <add name="RadiantVisionSystems.My.MySettings.CEPMCalibrationMasterConnectionString" connectionString="Max Database Size=4090;Data Source=|DataDirectory|\Data\PMCalibration_Master.calx"/>
 </connectionStrings>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
 <startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
 <userSettings>
  <RadiantVisionSystems.My.MySettings>
   <setting name="ColorFilterExposure" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>100</string>
      <string>100</string>
      <string>100</string>
      <string>100</string>
      <string>100</string>
      <string>100</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="ColorFilterND" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>1</string>
      <string>1</string>
      <string>1</string>
      <string>1</string>
      <string>1</string>
      <string>1</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="ColorFilterAdjust" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>True</string>
      <string>True</string>
      <string>True</string>
      <string>True</string>
      <string>True</string>
      <string>True</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="RememberAdjustExposureBinningLevel" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AdjustExposureBinningX" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="AdjustExposureBinningY" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="AdapterIP" serializeAs="String">
    <value/>
   </setting>
   <setting name="ChooseDemoCalDBAutomatically" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NeedToExecuteCPLDInstructions" serializeAs="String">
    <value>False</value>
   </setting>
  </RadiantVisionSystems.My.MySettings>
 </userSettings>
</configuration>
