<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TrueTestEngine.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TrueTestEngine.My.MySettings.TrueTest_Measurement_MasterConnectionString" connectionString="foreign keys=False;pooling=False;failifmissing=False;count changes=off;journal mode=Off;cache size=5000;page size=4096;synchronous=Off;data source=|DataDirectory|\Data\TrueTest_Measurement_Master.ttxm" providerName="System.Data.SQLite"/>
        <add name="TrueTestEngine.My.MySettings.CERiPointsMasterConnectionString" connectionString="Max Database Size=4090;Data Source=|DataDirectory|\PointsofInterest\Data\RiPoints_Master.sdf"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <TrueTestEngine.My.MySettings>
            <setting name="SequenceControlSplitterDistancePercentFromTop" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ChildWindowsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveMeasurementsToDatabase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OperatingMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MeasurementPickerFormSize" serializeAs="String">
                <value>500, 800</value>
            </setting>
            <setting name="UpdateMeasurementDatabaseInDemoMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayMeasurements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PatternGeneratorType" serializeAs="String">
                <value>VideoPatternGenerator</value>
            </setting>
            <setting name="SaveCameraMeasurementsToDatabase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveSyntheticMeasurementsToDatabase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveLocalContrastMeasurementsToDatabase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveReferenceMeasurementsToDatabase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveFinalAnalysisMeasurementsToDatabase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOverExposeWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraFlip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraMirror" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraTranspose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnalysisSetupFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AnalysisSetupFormSize" serializeAs="String">
                <value>416, 599</value>
            </setting>
            <setting name="EditSequenceDialogSize" serializeAs="String">
                <value>480, 500</value>
            </setting>
            <setting name="EditSequenceDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SerialNbrLastUsed" serializeAs="String">
                <value/>
            </setting>
            <setting name="GlobalSettingsFormSize" serializeAs="String">
                <value>740, 600</value>
            </setting>
            <setting name="GlobalSettingsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ResultsGridWidth" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TakeMeasSaveInDatabase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TakeMeasRequestDescription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CursorGapHoriz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CursorOffsetHoriz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CursorGapVert" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CursorOffsetVert" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EditFeatureAlgorithmDialogSize" serializeAs="String">
                <value>450, 350</value>
            </setting>
            <setting name="EditFeatureAlgorithmDialogLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="CustomSerialForm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefineFOIFormSplitterDistance" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="CurrentPOIDB" serializeAs="String">
                <value/>
            </setting>
            <setting name="ZhagaGroupCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZhagaPOICount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowBitmapForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCrossSectionForm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCIEColorChart" serializeAs="String">
                <value>False</value>
            </setting>
        </TrueTestEngine.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
