<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LowLevelCameraExerciser.NeelixFunctionalTestSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TrueTestUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TrueTestUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <LowLevelCameraExerciser.NeelixFunctionalTestSettings>
      <setting name="LastControlSerialNumber" serializeAs="String">
        <value>Unknown</value>
      </setting>
      <setting name="LastRoadSerialNumber" serializeAs="String">
        <value>Unknown</value>
      </setting>
      <setting name="LastCCDSerialNumber" serializeAs="String">
        <value>Unknown</value>
      </setting>
      <setting name="LastPowerSerialNumber" serializeAs="String">
        <value>Unknown</value>
      </setting>
      <setting name="LastControlSerialNumberID" serializeAs="String">
        <value>0</value>
      </setting>
    </LowLevelCameraExerciser.NeelixFunctionalTestSettings>
    <TrueTestUI.My.MySettings>
      <setting name="WindowPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowMaximized" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CalibrationDatabase" serializeAs="String">
        <value />
      </setting>
      <setting name="Culture" serializeAs="String">
        <value />
      </setting>
      <setting name="SequenceXMLPathFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="MeasurementDatabasePathFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="XsectionWindowSize" serializeAs="String">
        <value>700, 500</value>
      </setting>
      <setting name="CIEChartWindowSize" serializeAs="String">
        <value>700, 500</value>
      </setting>
      <setting name="BMPWindowSize" serializeAs="String">
        <value>700, 500</value>
      </setting>
      <setting name="IsoPlot3dWindowSize" serializeAs="String">
        <value>700, 500</value>
      </setting>
      <setting name="IsoPlotWindowSize" serializeAs="String">
        <value>700, 500</value>
      </setting>
      <setting name="ChildWindowsMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BitmapVDSize" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SaveVDSize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MeasurementListWindowSize" serializeAs="String">
        <value>700, 600</value>
      </setting>
      <setting name="MeasurementListWindowPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MeasurementListSerialNbrWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MeasurementListPatternNameWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MeasurementListDateCol" serializeAs="String">
        <value>110</value>
      </setting>
      <setting name="MeasurementListAnalysisWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MeasurementListPatternSetupWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MeasurementListSequenceWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="AnalysisResultSplitDistance" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="BlobDrawShape" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MeasurementDatabase" serializeAs="String">
        <value>sample.pmx</value>
      </setting>
    </TrueTestUI.My.MySettings>
  </userSettings>
  <applicationSettings>
    <TrueTestUI.My.MySettings>
      <setting name="PMHLEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </TrueTestUI.My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_RadiantService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://aed.pro/radiant/Services/RadiantProductionService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_RadiantService" contract="RadiantProductionService.RadiantService" name="WSHttpBinding_RadiantService" />
    </client>
  </system.serviceModel>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>